
'scopeName' : 'source.simplez.asm'
'name' : 'SIMPLEZ'
'fileTypes' : [
  'asm'
  's'
]
'patterns' : [
   {
      'match' : ';.*'
      'name' : 'comment.line.number-sign.simple'
   }
   {
       'match': '\\b(?i:(ld|st|add|br|bz|dec|clr|halt|wait))\\b'
       'name': 'keyword.mnemonic'
   }
   {
       'match': '\\b(?i:(equ|data|res|org|end))\\b'
       'name': 'keyword.control.directive'
   }
   {
       'match': '/(((h|H)(\')[0-9a-fA-F]*)|([0-9]+))\\b'
       'name': 'support.function.system'
   }
   {
       'match': '\\b(((h|H)(\')[0-9a-fA-F]*)|([0-9]+))\\b'
       'name': 'constant.numeric.c'
   }

]
